body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .background {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .glow-button {
    padding: 20px 40px;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(45deg, #7cc6f5, #0181ac);
    border: none;
    border-radius: 10px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 20px rgba(135, 206, 250, 0.8);
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .glow-button:hover {
    box-shadow: 0 0 40px rgba(135, 206, 250, 0.8);
    transform: translateY(-2px);
  }
  
  .glow-button:active {
    transform: translateY(2px);
  }
  